@charset "utf-8";
.home-top-grid1 {
  background: rgba(11, 100, 143, 0.7);
  transition: 0.5s all;
}
.home-top-grid2 {
  background: rgba(226, 23, 55, 0.5);
  transition: 0.5s all;
}
.home-top-grid3 {
  background: rgba(11, 100, 143, 0.4);
  transition: 0.5s all;
}
body {
  font-family: "microsoft yahei";
  overflow-x: hidden;
}
.iconfont {
  font-family: 'iconfont';
}
img {
  max-width: 100%;
}
.vcenter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  vertical-align: middle;
  margin: auto;
}
.tHide {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.blockFull {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.relative {
  position: relative;
}
a {
  color: #666;
}
a:hover {
  color: #e75826;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
.container {
  width: 1200px;
}
.pic {
  position: relative;
  overflow: hidden;
}
.pic:after {
  display: block;
  content: "";
}
/*-header-*/
.header {
  clear: both;
}
/*-banner-*/
.banner {
  clear: both;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
.banner .slick-dots .slick-active button {
  background: #e75826;
}
.logo {
  padding-top: 30px;
}
.logo .Language {
  font-family: arial;
}
.logo .Language a {
  border: 1px solid #dedede;
  float: left;
  padding: 3px 10px;
  font-size: 12px;
  color: #343c48;
  transition: 0.5s;
}
.logo .Language a:hover {
  border: 1px solid #e75826;
  color: #e75826;
}
.logo .Language a.en {
  margin-left: -1px;
}
.logo .Language a.active {
  border: 1px solid #e75826;
  color: #e75826;
  position: relative;
  z-index: 2;
}
.logo .search {
  margin-left: 12px;
  position: relative;
}
.logo .search .searbtn {
  cursor: pointer;
}
.logo .search .seardown {
  width: 365px;
  position: absolute;
  right: 0;
  top: 30px;
  padding: 10px 15px;
  background: #f7f7f7;
  box-shadow: 0 0 10px #999;
  display: none;
  z-index: 555;
}
.logo .search .seardown .searinput {
  width: 78%;
  border: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  text-indent: 5px;
  float: left;
}
.logo .search .seardown .searsub {
  width: 10%;
  height: 30px;
  background: url(../images/sear.png) no-repeat center;
  border: 1px solid #ddd;
}
.logo .search .searclosed {
  height: 28px;
  float: right;
  margin-top: 1px;
  cursor: pointer;
}
.nav {
  border-bottom: 4px solid #e4e8ea;
  margin-top: 33px;
}
.nav ul li {
  float: left;
  list-style: none;
  width: 16.6%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-left: 1px solid #d1d3d5;
  position: relative;
}
.nav ul li a {
  display: inline-block;
  color: #312d2d;
}
.nav ul li:hover a {
  border-bottom: 4px solid #e75826;
}
.nav ul li:hover ul li a {
  border: 0;
}
.nav ul li ul {
  position: absolute;
  width: 100%;
  z-index: 5555;
  background: #fff;
  padding: 10px 0;
  display: none;
}
.nav ul li ul li {
  float: none;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.nav ul li ul li:hover a {
  color: #e75826;
}
.nav ul li ul li:hover .threedown a {
  color: #312d2d;
}
.nav ul li ul li a {
  display: block;
  font-size: 13px;
}
.nav ul li ul li .threedown {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  display: none;
  background: #fff;
}
.nav ul li ul li .threedown a:hover {
  color: #e75826;
}
.nav ul li.active a {
  border-bottom: 4px solid #e75826;
}
.nav ul li.active ul li a {
  border: 0;
}
.inn {
  max-width: 1600px;
  margin: 1px auto 0;
}
.inn .col-md-3 {
  padding: 0;
}
.inn .col-md-3:after {
  padding-bottom: 38.75%;
}
.inpro {
  margin-bottom: 105px;
}
.inptit {
  text-align: center;
  margin: 60px 0 85px;
}
.inptit span {
  font-size: 26px;
  color: #101011;
  display: block;
  background: url(../images/inpline.jpg) repeat-x center;
  max-width: 1600px;
  margin: 0 auto;
}
.inptit span em {
  font-style: normal;
  display: inline-block;
  padding: 0 20px;
  background: #fff;
}
.inptit p {
  font-size: 12px;
  width: 33%;
  margin: 25px auto;
  line-height: 20px;
  max-height: 118px;
  overflow: hidden;
}
.inptit a {
  width: 180px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 13px;
  overflow: hidden;
  background: #e60012;
  color: #fff;
  display: inline-block;
}
.inpcon .col-md-3 {
  padding: 0;
}
.inpcon .col-md-3 .pic:after {
  padding-bottom: 76.65369649805447%;
}
.inpcon .col-md-3 .pic img {
  transition: 0.5s;
}
.inpcon .col-md-3 .inpca {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  color: #373535;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  transition: 0.5s;
}
.inpcon .col-md-3:hover img {
  transform: scale(1.2);
}
.inpcon .col-md-3:hover .inpca {
  color: #e75826;
}
.inpcon .slick-prev,
.inpcon .slick-next {
  width: 26px;
  height: 48px;
  transform: rotate(0);
}
.inpcon .slick-prev {
  background: url(../images/inpprev.jpg) no-repeat center;
  left: -30px;
}
.inpcon .slick-next {
  background: url(../images/inpnext.jpg) no-repeat center;
  right: -30px;
}
.innews {
  padding: 0 0 95px;
  overflow: hidden;
  background: url(../images/innew.jpg) no-repeat top center;
}
.innews .inptit {
  margin-bottom: 80px;
}
.innews .inptit span {
  background: none;
  position: relative;
}
.innews .inptit span em {
  width: 44%;
  position: absolute;
  border-bottom: 1px solid #88898a;
  top: 50%;
}
.innews .inptit span em.left {
  left: 0;
}
.innews .inptit span em.right {
  right: 0;
}
.innewcon ul li {
  list-style: none;
  float: left;
  width: 30%;
  margin-right: 5%;
}
.innewcon ul li .pic {
  width: 100%;
}
.innewcon ul li .pic:after {
  padding-bottom: 31.818181818181817%;
}
.innewcon ul li .pic img {
  transition: 0.5s;
}
.innewcon ul li .innewtxt {
  background: #fff;
  padding: 20px 18px;
}
.innewcon ul li .innewtxt a {
  display: block;
  font-size: 14px;
  color: #000;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
  transition: 0.5s;
}
.innewcon ul li .innewtxt span {
  font-size: 12px;
  color: #717171;
}
.innewcon ul li .innewtxt p {
  font-size: 12px;
  color: #767676;
  line-height: 23px;
  margin-top: 5px;
  height: 46px;
  overflow: hidden;
  transition: 0.5s;
}
.innewcon ul li:hover .innewtxt a {
  color: #e75826;
}
.innewcon ul li:hover .innewtxt p {
  color: #444;
}
.innewcon ul li:hover img {
  transform: scale(1.2);
}
.inabout .inptit {
  margin-bottom: 40px;
}
.inabout a {
  width: 250px;
  height: 30px;
  font-size: 16px;
  font-family: arial;
  display: block;
  border: 2px solid #bbb;
  text-align: center;
  line-height: 30px;
  margin: 60px auto 0;
  color: #9d9d9d;
  background: url(../images/more.jpg) no-repeat 98% center;
  border-radius: 5px;
  transition: 0.5s;
}
.inabout a:hover {
  background: #e75826;
  color: #fff;
  border: 2px solid #e75826;
}
.inabcon {
  height: 90px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
}
.inabcon p {
  margin-bottom: 0;
  line-height: 30px;
}
.footer-logo {
  max-width: 1440px;
  margin: 100px auto 0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  line-height: 50px;
}
.footer-logo span {
  float: right;
  display: inline-block;
  width: 20%;
  height: 50px;
  text-align: center;
  background: #e75826;
  font-size: 18px;
  color: #fff;
}
.footer-logo span b {
  font-size: 24px;
  font-weight: 100;
  font-family: arial;
}
.footernav {
  border-bottom: 1px solid #dfdfdf;
}
.footernav dl {
  float: left;
  width: 20%;
  border-left: 1px solid #dfdfdf;
  min-height: 270px;
  padding: 30px 0 0 28px;
  font-size: 12px;
  margin: 0;
}
.footernav dl dt {
  margin-bottom: 5px;
}
.footernav dl dt a {
  color: #e75826;
}
.footernav dl dd {
  line-height: 25px;
}
.footernav dl dd a:hover {
  font-size: 13px;
  font-weight: 600;
}
.copy {
  line-height: 78px;
  font-size: 12px;
  text-align: center;
}
.copy .link {
  display: inline-block;
  width: 81px;
  height: 18px;
  border: 1px solid #bebebe;
  line-height: 18px;
  text-align: left;
  text-indent: 5px;
  margin: 0 10px;
  cursor: pointer;
  background: url(../images/linkbg.jpg) no-repeat 93% center;
  position: relative;
}
.copy .link .lindown {
  position: absolute;
  bottom: 20px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 5px #ddd;
  padding: 5px 0;
  display: none;
}
.copy .link .lindown a {
  display: block;
  text-align: center;
}
.copy .ferweima {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.copy .ferweima .ewmwrap {
  width: 140px;
  border: 1px solid #999;
  display: none;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -70px;
}
.copy .ferweima .ewmwrap:after {
  padding-bottom: 100%;
}
.copy .ferweima:hover .ewmwrap {
  display: block;
}
.mbx {
  text-align: right;
  line-height: 35px;
  font-size: 12px;
  color: #838383;
}
.mbx a {
  color: #838383;
  transition: 0.5s;
}
.mbx a:hover {
  color: #e75826;
}
.ny .inptit {
  margin: 10px 0 30px;
}
.ny .inptit span {
  font-size: 30px;
}
.about .container {
  width: 1000px;
  padding: 0;
}
.about .container .aboutimg {
  margin-bottom: 30px;
}
.about .container p {
  font-size: 12px;
  color: #4e4e4e;
  margin-bottom: 30px;
  line-height: 25px;
  text-align: left;
  text-indent: 2em;
}
.xgnews {
  background: #f7f7f7;
  padding: 35px 0;
}
.xgnews h3 {
  padding-bottom: 15px;
  border-bottom: 1px solid #dfdfdf;
}
.xgnews ul {
  margin: 20px 0 0;
  width: 41.198%;
}
.xgnews ul li {
  font-size: 12px;
  list-style: none;
}
.xgnews ul li a {
  color: #636363;
  transition: 0.5s;
  display: inline-block;
  line-height: 35px;
  height: 35px;
  overflow: hidden;
  float: left;
  width: 80%;
}
.xgnews ul li a:hover {
  color: #e75826;
}
.xgnews ul li span {
  float: right;
  font-family: arial;
  color: #7c7c7c;
  line-height: 35px;
}
.nyfooterlogo {
  margin-top: 0;
}
.fenlei {
  margin-top: 20px;
}
.fenlei .menu {
  width: 52.549%;
  margin: 0 auto;
  padding: 0;
}
.fenlei .menu a {
  display: inline-block;
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.fenlei .menu .cur {
  position: relative;
}
.fenlei .menu .cur:after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 4px;
  background: #e75826;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.fenlei .menu .slick-slide {
  text-align: center;
}
.fenlei .menu .slick-arrow {
  width: 20px;
  height: 30px;
  transform: rotate(0);
  top: 47px;
}
.fenlei .menu .slick-next {
  right: -20px;
  background: url(../images/next.png) no-repeat center;
}
.fenlei .menu .slick-prev {
  left: -20px;
  background: url(../images/prev.png) no-repeat center;
}
.fenlei .line {
  height: 4px;
  background: #e4e4e4;
  position: relative;
  top: -9px;
}
.twofenlei {
  background: #000;
  filter: alpha(opacity=70);
  background: rgba(0, 0, 0, 0.7);
  margin-top: -9px;
}
.twofenlei .flcon {
  width: 42%;
  margin: 0 auto;
  padding: 40px 0;
}
.twofenlei .flcon a {
  color: #fff;
  margin-right: 5%;
  transition: 0.5s;
}
.twofenlei .flcon a:hover {
  color: #e75826;
}
.pro ul li {
  list-style: none;
  float: left;
  width: 16.24%;
  margin: 0 11.68% 5% 0;
}
.pro ul li .pic img {
  transition: 0.5s;
}
.pro ul li .pic:after {
  padding-bottom: 75%;
}
.pro ul li a.protita {
  display: block;
  text-align: center;
  line-height: 35px;
  height: 35px;
  overflow: hidden;
  transition: 0.5s;
}
.pro ul li:hover img {
  transform: scale(1.2);
}
.pro ul li:hover a.protita {
  background: #e75826;
  color: #fff;
}
.page {
  text-align: center;
  font-family: arial;
  font-size: 13px;
  background: #f1f1f1;
  padding: 20px 0;
  margin: 55px 0;
}
.page a {
  margin: 0 8px;
  color: #828282;
  transition: 0.5s;
}
.page a:hover {
  color: #e75826;
  text-decoration: underline;
}
.page a.prev,
.page a.next {
  margin: 0 20px;
}
.pro_show .container {
  width: 1030px;
}
.pshowtit {
  border-bottom: 1px solid #d2d2d2;
  line-height: 35px;
  margin-top: 20px;
  font-size: 24px;
  color: #373535;
}
.pshowtit span {
  font-size: 12px;
  color: #787878;
}
.proimg {
  margin: 40px 0;
}
.proimg .big {
  float: left;
  width: 85.1%;
  border: 1px solid #ececec;
  margin-top: 4px;
}
.proimg .big ul li {
  list-style: none;
  position: relative;
  overflow: hidden;
}
.proimg .big ul li:after {
  content: "";
  display: block;
  padding-bottom: 54.9%;
}
.proimg .small {
  float: right;
  width: 14%;
}
.proimg .small span {
  position: relative;
  display: block;
  border: 1px solid #ededed;
  margin: 2.1% 0;
  cursor: pointer;
}
.proimg .small span:after {
  content: "";
  display: block;
  padding-bottom: 51.5%;
}
.proimg .small .slick-current {
  border: 1px solid #e75826;
}
.protit {
  border-top: 1px solid #d2d2d2;
  font-size: 24px;
  line-height: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.protit span {
  display: inline-block;
  border-top: 3px solid #e75826;
  position: relative;
  top: -2px;
  padding-right: 20px;
}
.detailed_pro {
  margin-bottom: 50px;
}
.detailed_pro table {
  width: 100%;
}
.detailed_pro td {
  height: 40px;
  line-height: 40px;
  border: 1px solid #d5d9da;
  text-align: center;
  font-family: arial;
}
.parameter {
  margin-bottom: 50px;
}
.parameter p {
  font-size: 12px;
  color: #575757;
  line-height: 25px;
  margin-bottom: 25px;
}
.inquiry p {
  font-size: 12px;
  color: #575757;
  line-height: 25px;
  margin-bottom: 25px;
}
.inquiry .inquirycon label {
  width: 49.6%;
  margin-bottom: 10px;
  position: relative;
}
.inquiry .inquirycon label input {
  width: 95%;
  border: 1px solid #cfcfcf;
  font-weight: 100;
  font-family: "微软雅黑";
  padding-left: 10px;
  line-height: 40px;
  height: 40px;
  transition: 0.5s;
}
.inquiry .inquirycon label input:focus {
  border: 1px solid #e75826;
  box-shadow: 0 0 2px #e75826;
}
.inquiry .inquirycon label textarea {
  font-size: 14px;
  font-weight: 100;
  font-family: "微软雅黑";
  padding-left: 10px;
  border: 1px solid #cfcfcf;
  width: 100%;
  height: 105px;
  transition: 0.5s;
}
.inquiry .inquirycon label textarea:focus {
  border: 1px solid #e75826;
  box-shadow: 0 0 2px #e75826;
}
.inquiry .inquirycon label span {
  color: #f00;
  font-weight: 100;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  margin-left: 5px;
}
.inquiry .inquirycon label.content {
  width: 97.4%;
}
.inquiry .inquirycon label.code {
  width: 100%;
}
.inquiry .inquirycon label.code input {
  width: 40%;
  float: left;
}
.inquiry .inquirycon label.code img {
  cursor: pointer;
  float: left;
}
.inquiry .inquirycon label.code a {
  float: left;
  font-weight: 100;
  line-height: 40px;
  font-size: 13px;
  color: #626262;
  margin-left: 2%;
}
.inquiry .inquirycon label.code a:hover {
  color: #e75826;
}
.inquiry .inquirycon label.sub {
  width: 17%;
}
.inquiry .inquirycon label.sub input {
  padding-left: 0;
  background: #e75826;
  border: 0;
  color: #fff;
}
.pre_next {
  line-height: 45px;
  margin: 30px 0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
.pre_next a {
  display: inline-block;
  width: 50%;
  height: 45px;
  overflow: hidden;
}
.pre_next a.next {
  text-align: right;
}
.xgcptit {
  font-size: 24px;
  color: #414141;
  text-align: center;
  margin: 80px 0 20px;
  background: url(../images/xgcpbg.jpg) repeat-x center;
}
.xgcptit span {
  background: #fff;
  padding: 0 20px;
}
.xgcp ul li {
  margin-right: 11.68%;
}
.contacttit {
  text-align: center;
  font-size: 30px;
  color: #232323;
  background: url(../images/xgcpbg.jpg) repeat-x center;
  margin: 20px 0;
}
.contacttit span {
  background: #fff;
  padding: 0 20px;
}
.contact .container {
  width: 1030px;
}
.contacttxt {
  margin-bottom: 35px;
}
.contacttxt p {
  font-size: 12px;
  color: #636363;
  line-height: 25px;
}
.contact_us li {
  list-style: none;
  float: left;
  font-family: arial;
  margin: 0 18% 2% 0;
  color: #4e4e4e;
  font-size: 13px;
}
.contact_us li b {
  display: block;
  color: #3a3a3a;
  font-size: 14px;
  line-height: 35px;
}
.message {
  margin: 45px 0 85px;
  background: #eaebec;
  padding: 60px 0;
}
.message label {
  width: 49%;
  position: relative;
  font-weight: 100;
  color: #f00;
}
.message label em {
  font-style: normal;
  position: absolute;
}
.message label input {
  width: 80%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #d1d3d5;
  border-radius: 3px;
  padding-left: 5px;
  margin-bottom: 28px;
  transition: 0.5s;
  color: #333;
}
.message label input:focus {
  border: 1px solid #e75826;
  box-shadow: 0 0 5px #e75826;
}
.message label span {
  display: inline-block;
  width: 75px;
  font-weight: 100;
  text-align: right;
  font-size: 12px;
  color: #727272;
  margin-right: 10px;
  float: left;
  line-height: 40px;
}
.message .messagecon {
  width: 100%;
}
.message .messagecon textarea {
  width: 89%;
  border: 1px solid #d1d3d5;
  border-radius: 3px;
  padding-left: 5px;
  margin-bottom: 28px;
  height: 160px;
  transition: 0.5s;
  color: #333;
}
.message .messagecon textarea:focus {
  border: 1px solid #e75826;
  box-shadow: 0 0 5px #e75826;
}
.message .code {
  width: 100%;
}
.message .code em {
  left: 480px;
}
.message .code input {
  width: 39.5%;
  float: left;
}
.message .code img {
  float: left;
  cursor: pointer;
  margin: 0 20px;
}
.message .code a {
  font-size: 12px;
  font-weight: 100;
  color: #999;
  line-height: 40px;
  transition: 0.5s;
}
.message .code a:hover {
  color: #e75826;
}
.message .reset,
.message .sub {
  width: 14%;
  transition: 0.5s;
}
.message .reset input,
.message .sub input {
  width: 100%;
  line-height: 55px;
  height: 55px;
  background: url(../images/messagebg.jpg) no-repeat 95% center;
  font-size: 18px;
  font-family: "微软雅黑";
  font-weight: 100;
  color: #a0a0a0;
  transition: 0.5s;
}
.message .reset:hover,
.message .sub:hover {
  width: 30%;
}
.message .reset:hover input,
.message .sub:hover input {
  border: 1px solid #e75826;
  color: #e75826;
  background: url(../images/messagebgh.jpg) no-repeat 95% center;
}
.message .sub {
  margin-left: 85px;
}
.culture .container {
  margin: 75px auto 40px;
}
.culture .txtfl {
  width: 54%;
  font-size: 12px;
  line-height: 25px;
  color: #5f5f5f;
}
.culture .txtfl p {
  margin-bottom: 50px;
}
.culture .imgfr {
  width: 40%;
}
.honor .container {
  margin: 75px auto 40px;
}
.honor ul {
  text-align: center;
}
.honor ul li {
  list-style: none;
  display: inline-block;
  background: #e8e8e8;
  padding: 13px 10px 0;
  margin: 0 5px 40px;
  width: 203px;
  transition: 0.5s;
}
.honor ul li .pic:after {
  padding-bottom: 67%;
}
.honor ul li .pic img {
  transition: 0.5s;
}
.honor ul li span {
  display: block;
  text-align: center;
  font-size: 13px;
  color: #6c6c6c;
  line-height: 40px;
  transition: 0.5s;
}
.honor ul li:hover {
  background: #e75826;
}
.honor ul li:hover span {
  color: #fff;
}
.honor ul li:hover img {
  transform: scale(1.2);
}
.phonehonor {
  background: #e8e8e8;
  width: 50%;
  text-align: center;
  padding: 40px 0;
  margin: 0 auto;
  display: none;
}
.phonehonor .slick-slide {
  display: inline-block;
}
.phonehonor .slick-slide img {
  display: inline-block;
}
.phonehonor .pic:after {
  padding-bottom: 50%;
}
.phonehonor ul {
  height: 15px;
  bottom: 0;
}
.phonehonor ul li {
  width: 10px;
  padding: 0;
  margin: 0 5px;
}
.ption ul {
  text-align: center;
}
.ption ul li {
  list-style: none;
  width: 27.009%;
  position: relative;
  display: inline-block;
  margin: 0 1% 30px;
}
.ption ul li:after {
  padding-bottom: 64.55696202531645%;
  content: "";
  display: block;
}
.ption ul li .zzc {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e75826;
  filter: alpha(opacity=80);
  background: rgba(231, 88, 38, 0.8);
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 10% 25px 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: 0.5s;
}
.ption ul li .zzc span {
  font-size: 20px;
  line-height: 55px;
  display: block;
  height: 55px;
  overflow: hidden;
}
.ption ul li .zzc p {
  height: 34px;
  overflow: hidden;
}
.ption ul li:hover .zzc {
  opacity: 1;
  filter: alpha(opacity=100);
}
.ptionshow .container {
  width: 1030px;
  margin-top: 40px;
}
.ptionshow .container .imgbox {
  text-align: center;
  margin-bottom: 30px;
}
.ptionshow .container .ptionshowtxt {
  margin-bottom: 70px;
}
.ptionshow .container .ptionshowtxt p {
  font-size: 13px;
  color: #787878;
  line-height: 25px;
  margin-bottom: 30px;
}
.ptionshow .container .xgcp ul li {
  width: 22.47%;
  margin: 30px 2.674% 50px 0;
}
.news .innewcon ul {
  margin-top: 30px;
}
.news .innewcon ul li {
  border: 1px solid #e8e8e8;
  margin-bottom: 70px;
}
.news .page {
  margin-top: 0;
}
.ntit {
  margin: 30px 0;
}
.ntit h1 {
  font-size: 26px;
  color: #232323;
}
.ntit .date {
  font-family: arial;
  color: #8b8b8b;
  line-height: 35px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 15px 0;
  font-size: 12px;
}
.ntit .date span {
  margin-right: 4%;
}
.newsshow .container {
  width: 1030px;
}
.newsshow .pre_next {
  margin: 60px 0;
}
.nshow {
  text-align: center;
  margin: 30px 0;
}
.ntxt p {
  font-size: 12px;
  color: #757575;
  line-height: 25px;
  margin-bottom: 20px;
}
/*站点地图*/
.mapwrap {
  margin: 40px auto;
  padding-bottom: 100px;
}
.mapwrap dl {
  margin: 20px auto 20px;
  overflow: hidden;
  line-height: 30px;
  width: 98%;
  transition: 0.3s;
}
.mapwrap dl:hover {
  box-shadow: 0 0 2px #e75826;
}
.mapwrap dl:hover dt a {
  color: #e75826;
  font-weight: bold;
}
.mapwrap dt {
  font-size: 14px;
  float: left;
  width: 10%;
  text-align: center;
  border: 1px solid #ddd;
  transition: 0.3s;
}
.mapwrap dt:hover {
  background: #e75826;
}
.mapwrap dt:hover a {
  color: #fff !important;
}
.mapwrap dt a {
  color: #e75826;
  display: block;
  padding: 10px 0;
  transition: 0.3s;
}
.mapwrap dt a:hover {
  color: #e0e9f3;
  font-weight: bold;
}
.mapwrap dd {
  font-size: 14px;
  overflow: hidden;
  float: left;
  width: 85%;
  line-height: 40px;
}
.mapwrap dd .p2 {
  padding: 0 0 0 20px;
  clear: both;
}
.mapwrap dd .p2 a {
  color: #e75826;
  font-weight: bold;
  overflow: hidden;
  transition: 0.3s;
}
.mapwrap dd .p2 a:hover {
  color: #000;
}
.mapwrap dd div {
  clear: both;
  overflow: hidden;
  padding: 0px 20px 0 10px;
}
.mapwrap dd div a {
  color: #333;
  float: left;
  padding: 0 10px 0 10px;
  margin-top: 1px;
  transition: 0.3s;
}
.mapwrap dd div a:hover {
  background: #e75826;
  color: #fff;
}
@media (max-width: 768px) {
  .mapwrap dt {
    width: 15%;
  }
  .mapwrap dd {
    width: 85%;
  }
}
@media (max-width: 640px) {
  .mapwrap dt {
    width: 20%;
  }
  .mapwrap dd {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .mapwrap dt {
    width: 100%;
  }
  .mapwrap dd {
    width: 100%;
  }
}
#map {
  width: 100%;
  height: 300px;
  border: 2px solid #ddd;
}
#map img {
  max-width: 1000px;
  max-height: 300px;
}
@media (max-width: 1262px) {
  .inpcon .slick-arrow {
    width: 20px;
    height: 20px;
  }
  .inpcon .slick-prev {
    left: 50%;
    margin-left: -3%;
    top: 130%;
    background-position: left center;
  }
  .inpcon .slick-next {
    right: 50%;
    margin-right: -3%;
    top: 130%;
    background-position: right center;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 992px !important;
  }
  .footer-logo span {
    font-size: 15px;
  }
  .footer-logo span b {
    font-size: 18px;
  }
  .about .container {
    width: 100%;
    padding: 0 15px;
  }
  .about .container .aboutimg {
    text-align: center;
  }
  .about .container .aboutimg img {
    max-width: 100%;
    float: none !important;
  }
  .xgnews ul {
    width: 100%;
  }
  .ptionshow .container .xgcp ul li {
    margin-right: 2.6%;
  }
  .ptionshow .container .xgcp {
    margin-bottom: 50px;
  }
  .ptionshow .container .xgcp ul li {
    width: 44%;
    margin-bottom: 20px;
    margin: 0 !important;
  }
}
@media (max-width: 992px) {
  .container {
    width: 768px !important;
  }
  .footer-logo span {
    font-size: 12px;
  }
  .footer-logo span b {
    font-size: 15px;
  }
  .inptit p {
    width: 75%;
  }
  .inn .col-md-3 {
    width: 25%;
    float: left;
  }
  .fenlei .menu {
    width: 80%;
  }
  .twofenlei .flcon {
    width: 68%;
  }
  .pro_show .container {
    width: 768px;
  }
  .contact .container {
    width: 768px;
  }
  .contact .message label {
    width: 100%;
  }
  .contact .message label input {
    margin-bottom: 17px;
  }
  .contact .message .code em {
    left: 375px;
  }
  .contact .message .messagecon textarea {
    width: 80%;
  }
  .contact .message .reset,
  .contact .message .sub {
    width: 39.5%;
  }
  .contact_us li {
    width: 100%;
  }
  .ption ul li .zzc {
    padding: 0;
  }
  .ption ul li .zzc span {
    font-size: 16px;
    line-height: 25px;
    height: 25px;
    margin: 15px 0;
  }
  .innews .inptit span em {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100% !important;
  }
  .logo {
    margin-bottom: 20px;
  }
  .logo .Language {
    display: none;
  }
  .nav {
    display: none;
  }
  .search {
    margin-right: 10%;
  }
  .search .seardown {
    z-index: 222;
  }
  .inpcon .slick-arrow {
    display: none;
  }
  .footernav dl {
    padding-left: 15px;
  }
  .inpcon .slick-arrow {
    display: none !important;
  }
  .pro ul {
    text-align: center;
  }
  .pro ul li {
    width: 42%;
    margin: 0 3%;
    float: none;
    display: inline-block;
  }
  .twofenlei .flcon a {
    display: block;
  }
  .pro_show .container {
    width: 100%;
  }
  .pro_show .proimg .big {
    width: 100%;
  }
  .pro_show .proimg .small {
    width: 100%;
  }
  .pro_show .proimg .small span {
    margin: 10px 0;
  }
  .inquiry .inquirycon label {
    width: 100%;
  }
  .inquiry .inquirycon label input {
    width: 100%;
  }
  .inquiry .inquirycon label.content {
    width: 100%;
  }
  .contact .container {
    width: 100%;
  }
  .contact .message {
    padding: 60px 15px;
  }
  .contact .message label input {
    margin-bottom: 10px;
    width: 100%;
  }
  .contact .message label span {
    float: none;
    display: block;
    text-align: left;
    line-height: 25px;
  }
  .contact .message label textarea {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .contact .message .code em {
    left: 30%;
  }
  .contact .message .code input {
    width: 30%;
  }
  .contact .message .reset {
    margin-left: 0;
  }
  .culture .txtfl {
    width: 100%;
  }
  .culture .imgfr {
    width: 100%;
    text-align: center;
  }
  .honor ul {
    display: none;
  }
  .phonehonor {
    display: block;
  }
  .ption ul li {
    width: 44%;
  }
  .ption ul li .zzc {
    padding-top: 10px;
  }
  .news .innewcon ul {
    text-align: center;
  }
  .news .innewcon ul li {
    width: 40%;
    margin: 10px;
    float: none;
    display: inline-block;
  }
  .footer-logo span {
    display: none;
  }
}
@media (max-width: 480px) {
  .logo .search {
    margin-right: 15%;
  }
  .logo .search .seardown {
    width: 263px;
    right: -30px;
  }
  .logo .search .seardown .searinput {
    width: 87%;
  }
  .logo .search .searclosed {
    display: none;
  }
  .logoa {
    width: 100px;
  }
  .inptit p {
    width: 100%;
    padding: 0 15px;
  }
  .innews {
    background: none;
  }
  .innews .innewcon ul li {
    width: 100%;
  }
  .innews .inptit span em {
    width: 30%;
  }
  .footernav dl {
    width: 50%;
  }
  .xgnews ul li a {
    width: 70%;
  }
  .pro ul li {
    width: 100%;
    margin-bottom: 10%;
  }
  .pro ul li .pic:after {
    padding-bottom: 52%;
  }
  .pshowtit {
    font-size: 22px;
  }
  .pshowtit span {
    display: block;
  }
  .inquiry .inquirycon label.sub {
    width: 100%;
  }
  .message .code em {
    left: 43% !important;
  }
  .message .code img {
    margin-right: 0;
  }
  .message .code input {
    width: 42% !important;
  }
  .message .code a {
    display: none;
  }
  .message .reset,
  .message .sub {
    width: 48.5% !important;
  }
  .phonehonor {
    display: block;
    width: 100%;
  }
  .ption ul li {
    width: 100%;
  }
  .ption ul li:hover .zzc {
    display: none;
  }
  .ptionshow .container .xgcp ul li {
    width: 100%;
  }
  .news .innewcon ul li {
    width: 90%;
  }
  .ntit h1 {
    font-size: 18px;
  }
}
#mmenu {
  font-family: arial;
}
/*-phone-nav-*/
.phone-nav {
  position: absolute;
  font-size: 24px;
  right: 15px;
  top: 17px;
  line-height: 50px;
  display: none;
  color: #999;
  z-index: 9;
}
.phone-nav:hover {
  color: #000;
}
@media (max-width: 768px) {
  .phone-nav {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */
